<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<!--flashは辞書型（ハッシュ）のためコントローラーで
何を受け取ったときに何を出すと決めておけば
そのままアラートとしてだせる
ハッシュ型なので、doの後ろはキーとバリューをそれぞれもらうことになっている

-->